<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.catwiki">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/catwikiicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/catwikiicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.favouriteActivity"></activity>
        <activity android:name=".Activity.CatDetailActivity" />
        <activity android:name=".Model.Cat" />
        <activity
            android:name=".Fragment.SearchRecyclerFragment"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
